/* FlexTPA Login Screen Information */

#login-container{
    position: fixed;
    display: block;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    
    @media all and (max-width: 767px) {
        width: 100%;
        height: 100%;
    }
    
    @media all and (min-width: 768px) {
        width: 750px;
        height: 500px;
        top: 50%;
        margin-top: -250px;
        -webkit-border-radius: 25px;
	    -moz-border-radius: 25px;
	    border-radius: 25px;
	    -webkit-box-shadow: 25px 25px 75px 0px rgba(0,0,0,0.5);
	    -moz-box-shadow: 25px 25px 75px 0px rgba(0,0,0,0.5);
	    box-shadow: 25px 25px 75px 0px rgba(0,0,0,0.5);
    }

    
    .title{
        width: 100%;
        font-size: 40px;
        height: 100px;
        background-color: rgba(148, 165, 183, 0.46);
        background-image: url("../images/login_header.png");
         
        @media all and (min-width: 768px) {
	        -webkit-border-top-left-radius: 25px;
	        -webkit-border-top-right-radius: 25px;
	        -moz-border-radius-topleft: 25px;
	        -moz-border-radius-topright: 25px;
	        border-top-left-radius: 25px;
	        border-top-right-radius: 25px;
        }
        
        span{
            display: inline-block;
                        width: 350px;
        }
        
        .brand{
            background-image: url("../images/login_logo.png");
            background-repeat: no-repeat;
            height: 100px;
            margin-left: 10px;
        }
        .powered-by{
            font-size: 12px;
            text-align: right;
            top: 10px;
            position: absolute;
            left: 395px;
            .FlexLogo {
                margin-bottom: -5px;
            }
        }
    }
        
    .login-info{
        display: block;
        width: 100%;
        height: 400px;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;   
       
    }
    
    .terms_conditions{
        height: 240px;
        overflow: auto;
    }

        
    }
