/* FlexTPA Basics */

html{
    height: 100%;
}

body{
    background: url("bg.jpg");
    height: 100%;
    overflow: auto;
}

#container{
    @media all and (max-width: 1023px){
        width: 768px;
    }
    
    @media all and (min-width: 1024px) and (max-width: 1323px) {
            width: 1024px;
    }
    @media all and (min-width: 1324px) and (max-width: 1623px) {
            width: 1324px;
    }
        @media all and  (min-width: 1624px) {
            width: 1624px;
    }
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 0;
    margin-top: 0;
}
#content {
    @media all and (max-width: 1023px){
        width: 768px;
    }
    
    @media all and (min-width: 1024px) and (max-width: 1323px) {
            width: 1024px;
    }
    @media all and (min-width: 1324px) and (max-width: 1623px) {
            width: 1324px;
    }
        @media all and  (min-width: 1624px) {
            width: 1624px;
    }
height: 100%;
}
#sidenav {
position: absolute;
top: 50px;
left: 0;
bottom: 20px;
width: 160px;
margin: 0;
padding-top: 3px;
border-top: 0px;
border-bottom: 0px;
font-weight: bold;

}

#inner-content {
position: absolute;
left: 165px;
top: 65px;
bottom: 32px;

overflow: auto;
    @media all and (max-width: 1023px){
        width: 600px;
    }
    
    @media all and (min-width: 1024px) and (max-width: 1323px) {
            width: 855px;
    }
    @media all and (min-width: 1324px) and (max-width: 1623px) {
            width: 1155px;
    }
        @media all and  (min-width: 1624px) {
            width: 1455px;
    }

}


#xFooter{
    position: fixed;
    border: 1px solid transparent;
display: block;
bottom: 0;
margin: 0 auto;
padding-top: 3px;
left: 0;
right: 0;
    @media all and (max-width: 1023px){
        width: 768px;
    }
    
    @media all and (min-width: 1024px) and (max-width: 1323px) {
            width: 1024px;
    }
    @media all and (min-width: 1324px) and (max-width: 1623px) {
            width: 1324px;
    }
        @media all and  (min-width: 1624px) {
            width: 1624px;
    }
height: 20px;
text-align: center;
font-size: 10px;
/* Adds the transparent background */
background-color: @navbar-default-bg;
color: rgba(0, 0, 0, 0.8);
}

#HeaderTitle{
    @media all and (max-width: 1023px){
        width: 208px;
    }
    
    @media all and (min-width: 1024px) and (max-width: 1323px) {
            width: 464px;
    }
    @media all and (min-width: 1324px) and (max-width: 1623px) {
            width: 664px;
    }
        @media all and  (min-width: 1624px) {
            width: 964px;
    }
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#HeaderUser{
       @media all and (max-width: 1323px) {
            width: 100px;
    }
    @media all and (min-width: 1324px) {
            width: 200px;
    }
    #HeaderLIA{
               @media all and (max-width: 1323px) {
            display: none;
    }
    }
    text-align:center;
}

#HeaderLogout{
    width:200px; text-align:right; margin-right: -40px;
    }
    
hr.separator{
    height: 2px;
    background-color: @navbar-default-border;
    }

.FlexGrid_Header{
    background-color: lighten(@brand-primary, 10%) !important;
    color: #FFFFFF;
    font-weight: bold;
    a{
        color: #FFFFFF;
        text-decoration: underline;
    }
}

.FlexGrid_Header_Dark{
    background-color: @brand-primary !important;
    color: #FFFFFF;
    font-weight: bold;
    a{
        color: #FFFFFF;
    }
}

.MessageBlock{
    padding: 10px;
    font-weight: bold;
}

.Expander{
    font-size: 16px;
}

.PadTop{
    padding-top: 10px;
}
.ClearPad{
    margin-bottom: -10px;
    padding-bottom: -10px;
    
}